@charset "UTF-8";
main {
    display: grid;
    align-items: center;
    justify-content: center;
}
.card {
    padding: 1rem;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-column-gap: 8rem;
    grid-template-columns: 1fr;
    box-shadow: 0 1vmin 50px #0000000f, 0 1vmin 20px #0000000d;
    background: rgba(0, 0, 0, 0.02);
}
@media screen and (min-width: 1023px) {
    .card {
        padding: 5rem 8rem;
        grid-template-columns: 100px 1fr;
        grid-column-gap: 8rem;
        grid-template-rows: 1fr;
        height: auto;
    }
}
.card__logo {
    margin: 2em auto 2em 21%;
    grid-row: 1/6;
    stroke-dashoffset: 1500;
    stroke-dasharray: 500;
    stroke-width: 8px;
    stroke: #fff;
    stroke: var(--primary);
    width: 50%;
    align-self: center;
    -webkit-animation: logo-appear 2s cubic-bezier(0.45, 0, 0.55, 1) forwards;
    animation: logo-appear 2s cubic-bezier(0.45, 0, 0.55, 1) forwards;
    fill: none;
}
@media screen and (min-width: 1023px) {
    .card__logo {
        width: 100%;
        margin: 0;
    }
}
.card .list {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5em;
}
.card .list__row {
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-animation: appear 0.5s ease-out forwards;
    animation: appear 0.5s ease-out forwards;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    flex: none;
}
.card .list__key,
.card .list__value {
    padding: 0 0.5em;
}
.card .list__key {
    display: inline-block;
    width: 5em;
    font-size: 0.83333em;
    color: var(--gray02);
}
@media (color-index: 48) {
    .card .list__key {
        color: var(--gray03);
    }
}
@media (color: 48842621) {
    .card .list__key {
        color: var(--gray03);
    }
}
@media (prefers-color-scheme: dark) {
    .card .list__key {
        color: var(--gray03);
    }
}
.card .list__value {
    color: var(--text-foreground);
    text-decoration: none;
    position: relative;
}
.card a.list__value:before {
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 1px;
    bottom: -2px;
    left: 0.5em;
    content: "";
    background: var(--primary);
}
@-webkit-keyframes logo-appear {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 4570;
    }
}
@keyframes logo-appear {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 4570;
    }
}
@-webkit-keyframes appear {
    0% {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
@keyframes appear {
    0% {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
